OVFTOOL_BIN_PATH="/Applications/VMware Fusion.app/Contents/Library/VMware OVF Tool/ovftool"
VMRUN_BIN_PATH="/Applications/VMware Fusion.app//Contents/Library/vmrun"
VDISKMANAGER_BIN_PATH="/Applications/VMware Fusion.app//Contents/Library/vmware-vdiskmanager"
VMRUN_NETWORK="vmnet3"
DIRECTOR_IP=172.16.125.5
FIRST_IP=172.16.125.6
SECOND_IP=172.16.125.7
NETWORK_CIDR=172.16.125.0/24
NETWORK_GW=172.16.125.2
NETWORK_DNS=172.16.125.2
NETWORK_RESERVED_RANGE="172.16.125.1 - 172.16.125.5"
NETWORK_STATIC_RANGE="172.16.125.6 - 172.16.125.10"
VCAP_MKPASSWD=<create with `mkpasswd -s -m sha-512`>
