VCENTER_HOST=172.16.125.128
VCENTER_USER=root
VCENTER_PASSWORD=<yourpassword>
VCENTER_DATACENTER=ha-datacenter
VCENTER_DATASTORE=datastore1
VCENTER_NETWORK_NAME="VM Network"
DIRECTOR_IP=172.16.125.5
FIRST_IP=172.16.125.6
SECOND_IP=172.16.125.7
NETWORK_CIDR=172.16.125.0/24
NETWORK_GW=172.16.125.2
NETWORK_DNS=172.16.125.2
NETWORK_RANGE="172.16.125.5 - 172.16.125.10"
