VMRUN_BIN_PATH=$(which vmrun)
OVFTOOL_BIN_PATH=$(which ovftool)
VDISKMANAGER_BIN_PATH=$(which vmware-vdiskmanager)
VMRUN_NETWORK="vmnet8"
VM_IP=192.168.133.5
WEB_IP=192.168.133.6
WORKER_IP=192.168.133.7
NETWORK_CIDR=192.168.133.0/24
NETWORK_GW=192.168.133.2
NETWORK_DNS=192.168.133.2
NETWORK_RESERVED_RANGE="192.168.133.1 - 192.168.133.5"
NETWORK_STATIC_RANGE="192.168.133.6 - 192.168.133.10"
WINDOWS_STEMCELL=<path to local stemcell>
