VMRUN_BIN_PATH="/Applications/VMware Fusion.app//Contents/Library/vmrun"
OVFTOOL_BIN_PATH="/Applications/VMware Fusion.app/Contents/Library/VMware OVF Tool/ovftool"
VDISKMANAGER_BIN_PATH="/Applications/VMware Fusion.app//Contents/Library/vmware-vdiskmanager"
VMRUN_NETWORK="vmnet8"
VM_IP=172.16.125.5
WEB_IP=172.16.125.6
WORKER_IP=172.16.125.7
NETWORK_CIDR=172.16.125.0/24
NETWORK_GW=172.16.125.2
NETWORK_DNS=172.16.125.2
NETWORK_RESERVED_RANGE="172.16.125.1 - 172.16.125.10"
WINDOWS_STEMCELL=<path to local stemcell - can be light if using stemcell store path (below)>
LINUX_STEMCELL=<path to local stemcell - can be light if using stemcell store path (below)>
STEMCELL_STORE_PATH=<directory containing full stemcells)
SSH_TUNNEL_HOST=172.16.125.1
SSH_TUNNEL_USERNAME="$(whoami)"
SSH_TUNNEL_PRIVATE_KEY="$(cat <path to ssh private key file>)"
BOSH_DIRECTORY_IP=172.16.125.4
